* {
	font-family: 'sans-serif';
}

.bgNavColor {
	background-color: #2d3739;
}

.contactTitle {
	font-size: 1.7em;
}

.privacy {
	font-size: 1em;
	color: #999;
}

.tell {
	font-size: 1.35em;
}

.fname {
	font-size: 13px;
}

.submit {
	background-color: #5fc1ce;
	border: 1px solid #5fc1ce;
	color: white;
	font-weight: bold;
	width: 12.45em;
	height: 3.5em;
}

.btn:active,
.btn:focus {
	color: white;
	border: 1px solid #5fc1ce !important;
	box-shadow: 0rem !important;
}

footer {
	background-color: #2d3739;
	width: 100%;
	height: 100%;
	color: #ffffff;
}

footer h2 {
	color: #ffffff;
	margin-top: 1em;
	margin-left: 0.7em;
	font-weight: bold;
}

footer p {
	margin-top: 0.8em;
    margin-left: 1.3em;
    opacity: 0.8;
    font-size: 0.8em;
}

i {
    color: #FFF;
    margin-left: 0.8em;
    height: 1em;
    opacity: 0.8;
}

h6 {
    font-weight: bold;
    margin-left: 1em;
    margin-top: 2em;
}
