* {
	font-family: 'roboto';
}

/* body, .container-fluid {
    width: 90%;
    margin: 0 auto;
} */

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightgray;
}

.bgNavColor {
	background-color: #2d3739;
}

.contactTitle {
	font-size: 1.7em;
}

.privacy {
	font-size: 1em;
	color: #999;
}

.tell {
	font-size: 1.35em;
}

.fname {
	font-size: 13px;
}

.submit {
	background-color: #5fc1ce;
	border: 1px solid #5fc1ce;
	color: white;
	font-weight: bold;
	width: 12.45em;
	height: 3.5em;
	margin-left: 1em;
}

.btn:active,
.btn:focus {
	color: white;
	border: 1px solid #5fc1ce !important;
	box-shadow: 0rem !important;
}

.form-check {
	padding-left: 1.7em;
}

footer {
	background-color: #2d3739;
	width: 100%;
	height: 100%;
	color: #ffffff;
}

footer h2 {
	color: #ffffff;
	margin-top: 1em;
	margin-left: 0.7em;
	font-weight: bold;
}

footer p {
	margin-top: 0.8em;
	margin-left: 1.3em;
	opacity: 0.8;
	font-size: 1em;
}

i {
	color: #fff;
	margin-left: 0.8em;
	height: 1em;
	opacity: 0.8;
}

h6 {
	font-weight: bold;
	margin-left: 1em;
	margin-top: 2em;
}

/*  PORTFOLIO */

.portfolioTitle {
	font-size: 1em;
}

.portfolioP {
	font-size: 1.2em;
}

img {
	width: 12em;
	height: 12em;
}

.project1 {
	background-color: red;
	height: 28.5em;
}

.project2 {
	background-color: #A0BDDC;
	height: 28.5em;
}

.project3 {
	background-color: #3C8D41;
	height: 28.5em;
}

.project4 {
	background-color: #0091FF;
	height: 28.5em;
}

.project1:hover, .project2:hover, .project3:hover, .project4:hover {
	cursor: pointer;
}

.caseStudy {
	color: white;
	/* margin-top: 0,4em; */
	text-align: center;
}

.projectTitle {
	color: white;
	text-align: center;
	font-weight: bold;
}

.projectDescription {
	color: white;
	text-align: center;
}

@media only screen and (min-width: 240px) {
	.projectImage {
		margin-left: 10em;
		margin-top: 1em;
	}
}


@media only screen and (min-width: 960px) {
	.projectImage {
		margin-left: 7em;
		margin-top: 1em;
	}
}

@media only screen and (min-width: 1400px) {
	.projectImage {
		margin-left: 15.5em;
		margin-top: 1em;
	}
}

/* HOME */
.heroLink {
	color:#5fc1ce;
	font-weight: bold;
}

.heroLink:hover {
	color: #5fc1ce;
}

.heroSection {
	background-color: #313D3F;
	color:white;
	width: 100%;
	height: 7em;
	font-size: 2.5em;
	/* text-align: center; */
}

.heroSectionP {
	margin-top: 2em;
	font-weight: normal;
}

.indexTitle {
	font-size: 1.7em;
	/* text-align: center; */
}

.expertise {
	margin-top: 1em;
	font-size: 0.7em;
	font-weight: 200;
}

.checkout {
	margin-top: 1.5em;
	font-size:1.4em;
	font-weight: 500;
	height: 16em;
}

.start {
	font-weight: 200;
	border-radius: 1em;
}
